@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Rubik:wght@400;600&display=swap");

body {
    margin: 0px;
    padding: 0px;
    font-family: "Rubik";
}

/* HEAD AND LOGO PART  */

.head-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 50px;
}

/* BACKGROUND AND HEADING PART  */

.main-part img {
    z-index: -1;
    width: 100%;
    /* border: 2px solid blue; */
}

.main-part h1 {
    /* border: 1px solid black; */
    width: 350px;
    color: white;
    margin-top: -300px;
    font-size: 50px;
    padding-left: 80px;
}

.main-part h4 {
    font-size: 18px;
    color: white;
    margin-top: -20px;
    padding-left: 80px;
}

/* DISCOVER NEW BOOKS AND GAMES AND HANDMADE THINGS ALL TOGETHR */

.height {
    /* margin-top: 80px; */
    margin-left: 50px;
}

.flex-img {
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.flex-img h5 {
    /* border: 1px solid red; */
    margin-top: 0px;
    font-size: 20px;
}


.flex-img p {
    /* border: 1px solid red; */
    margin-top: -15px;
    color: rgb(160, 157, 157);
    font-size: 20px;
}

/* COST BUTTON  */

.flex-cost {
    display: flex;
    justify-content: space-between;
    height: 20px;
    /* border: 1px solid black */
}

.flex-cost button {
    background-color: rgb(97, 150, 255);
    height: 30px;
    width: fit-content;
    font-size: 15px;
    border-radius: 2px;
    border: none;
    color: white;
}

.flex-cost h5 {
    margin-top: 2px;
}

footer {
    margin-top: 130px;
    background-color: black;
    color: white;
    width: 100%;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
}

.flex-footer h3 {
    /* border: 1px solid red; */
    margin-top: 0px;
}

.flex-footer img {
    border-radius: 50%;
    height: 100px;
}

.intro {
    text-align: end;
    padding-right: 50px;
}

/* RESPONSIVE PART  */

@media only screen and (max-width: 600px) {
    body {
        align-items: center;
    }

    .head {
        padding-left: 0px;
        width: 100%;
    }

    .main-part h1 {
        margin-top: -90px;
        text-align: left;
        font-size: 15px;
        margin-left: -50px;
    }

    .main-part h4 {
        margin-top: -10px;
        font-size: 15px;
        margin-left: -50px;
    }

    .flex-img {
        display: block;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    #bk-img{
        width: 150px;
    }

    #all-img{
        width: 230px;
    }

    .height {
        display: block;
        justify-content: center;
    }

    .flex-cost {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .flex-img h5 {
        font-size: 15px;
    }

    .flex-img p{
        font-size:  12px ;
    }

    .flex-footer{
        margin: 0px;
        padding: 0px;
        justify-content: space-between;
    }
}